#cachorro {
	width: 8em;
	margin-top: 400px;
	margin-left: 100px;
	opacity: 0.8;
}

#casa {
	width: 8em;
	position: absolute;
	top: 500px;
	left: 910px;
	opacity: 0.8;

}

body{
	background-color:green;
	width: 90%;
	height: 90%;
	
}
h1{
	display: inline-block;
	margin-left: 45%;
}

#campo {
	width: 4em;
	display: block;
	margin-top: 2em;
	background-color: azure;
}