body{
    width: 85%;
    
}
article{
    padding: 5px;
    margin: 5px;

}

article #Sub_tit {
    background-color: azure;
    border:2px solid black ;
    border-radius: 15px;
    color: darkred;
    margin: 2% 20% 2% 20%;
    text-align: center;
    
}

article #Cur_tit{
    background-color: azure;
    border:2px solid black ;
    border-radius: 15px;
    color: darkred;
    font-size: 130%;
    margin: 2% 50% 2% 2%;
    padding-left: 2%;

}

img{
    display: block;
    height: 75%;
    margin: 20px;
    width: 75%;

}

.fim{
    background-color: azure;
    border:2px solid black ;
    border-radius: 15px;
    color: darkred;
    margin: 2% 20% 2% 20%;
    text-align: center;

}

article #titulo_Esc{
    background-color: azure;
    border: 10px double black;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    margin:2% 30% 2% 30%;

}

#c1{
    border: 2px solid black;
    border-radius: 10px;
    background-color: #B7410E;
    color: #0FB8A1;
    font-size: 150%;
    margin: 4% 3% 4% 1%;
    padding: 5px 25px;

}
#desc_c1{
    border:4px dotted black;
    background-color: #B7410E;
    border-radius: 10px;
    color: #0FB8A1;
    font-size: 120%;
    margin: 3%;
    padding: 5px 40px;

}

#c2{
    border: 2px solid black;
    border-radius: 10px;
    background-color: darkblue;
    color: violet;
    font-size: 150%;
    margin: 4% 3% 4% 1%;
    padding: 5px 25px;
}
#desc_c2{
    border:4px dotted black;
    background-color: darkblue;
    border-radius: 10px;
    color: violet;
    font-size: 120%;
    margin: 3%;
    padding: 5px 40px;
}

#c3{
    border: 2px solid black;
    border-radius: 10px;
    background-color: darkred;
    color: cyan;
    font-size: 150%;
    margin: 4% 3% 4% 1%;
    padding: 5px 25px;

}
#desc_c3{
    border:4px dotted black;
    background-color: darkred;
    border-radius: 10px;
    color: cyan;
    font-size: 120%;
    margin: 3%;
    padding: 5px 40px;
}

#c4{
    border: 2px solid black;
    border-radius: 10px;
    background-color: #91724A;
    color: #DEB887;
    font-size: 150%;
    margin: 4% 3% 4% 1%;
    padding: 5px 25px;

}
#desc_c4{
    border:4px dotted black;
    background-color: #91724A;
    border-radius: 10px;
    color: #DEB887;
    font-size: 120%;
    margin: 3%;
    padding: 5px 40px;

}

#c5{
    border: 2px solid black;
    border-radius: 10px;
    background-color: #B39A88;
    color: #f6feff;
    font-size: 150%;
    margin: 4% 3% 4% 1%;
    padding: 5px 25px;

}
#desc_c5{
    border:4px dotted black;
    background-color: #B39A88;
    border-radius: 10px;
    color: #f6feff;
    font-size: 120%;
    margin: 3%;
    padding: 5px 40px;

}